contract/src/main/resources/v1/wsdl/astronomicalObject.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="AstronomicalObject"
		targetNamespace="http://stapi.co/api/v1/soap/astronomicalObject"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/astronomicalObject"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/astronomicalObject">
			<xs:include schemaLocation="astronomicalObject.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="AstronomicalObjectBaseRequest">
		<wsdl:part name="request" element="stapi:AstronomicalObjectBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="AstronomicalObjectFullRequest">
		<wsdl:part name="request" element="stapi:AstronomicalObjectFullRequest"/>
	</wsdl:message>
	<wsdl:message name="AstronomicalObjectBaseResponse">
		<wsdl:part name="response" element="stapi:AstronomicalObjectBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="AstronomicalObjectFullResponse">
		<wsdl:part name="response" element="stapi:AstronomicalObjectFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="AstronomicalObjectPortType">
		<wsdl:operation name="getAstronomicalObjectBase">
			<wsdl:input name="getAstronomicalObjectBaseRequest" message="stapi:AstronomicalObjectBaseRequest"/>
			<wsdl:output name="getAstronomicalObjectBaseResponse" message="stapi:AstronomicalObjectBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getAstronomicalObjectFull">
			<wsdl:input name="getAstronomicalObjectFullRequest" message="stapi:AstronomicalObjectFullRequest"/>
			<wsdl:output name="getAstronomicalObjectFullResponse" message="stapi:AstronomicalObjectFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AstronomicalObjectBinding" type="stapi:AstronomicalObjectPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAstronomicalObjectBase">
			<wsdl:input name="getAstronomicalObjectBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAstronomicalObjectBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAstronomicalObjectFull">
			<wsdl:input name="getAstronomicalObjectFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getAstronomicalObjectFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AstronomicalObjectService">
		<wsdl:port name="AstronomicalObjectPortType" binding="stapi:AstronomicalObjectBinding">
			<soap:address location="http://stapi.co/api/v1/soap/astronomicalObject"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
