contract/src/main/resources/v1/wsdl/bookCollection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="BookCollection"
		targetNamespace="http://stapi.co/api/v1/soap/bookCollection"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/bookCollection"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/bookCollection">
			<xs:include schemaLocation="bookCollection.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="BookCollectionBaseRequest">
		<wsdl:part name="request" element="stapi:BookCollectionBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="BookCollectionFullRequest">
		<wsdl:part name="request" element="stapi:BookCollectionFullRequest"/>
	</wsdl:message>
	<wsdl:message name="BookCollectionBaseResponse">
		<wsdl:part name="response" element="stapi:BookCollectionBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="BookCollectionFullResponse">
		<wsdl:part name="response" element="stapi:BookCollectionFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="BookCollectionPortType">
		<wsdl:operation name="getBookCollectionBase">
			<wsdl:input name="getBookCollectionBaseRequest" message="stapi:BookCollectionBaseRequest"/>
			<wsdl:output name="getBookCollectionBaseResponse" message="stapi:BookCollectionBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getBookCollectionFull">
			<wsdl:input name="getBookCollectionFullRequest" message="stapi:BookCollectionFullRequest"/>
			<wsdl:output name="getBookCollectionFullResponse" message="stapi:BookCollectionFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookCollectionBinding" type="stapi:BookCollectionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBookCollectionBase">
			<wsdl:input name="getBookCollectionBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBookCollectionBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBookCollectionFull">
			<wsdl:input name="getBookCollectionFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBookCollectionFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookCollectionService">
		<wsdl:port name="BookCollectionPortType" binding="stapi:BookCollectionBinding">
			<soap:address location="http://stapi.co/api/v1/soap/bookCollection"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
