contract/src/main/resources/v1/wsdl/bookSeries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="BookSeries"
		targetNamespace="http://stapi.co/api/v1/soap/bookSeries"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/bookSeries"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/bookSeries">
			<xs:include schemaLocation="bookSeries.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="BookSeriesBaseRequest">
		<wsdl:part name="request" element="stapi:BookSeriesBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="BookSeriesFullRequest">
		<wsdl:part name="request" element="stapi:BookSeriesFullRequest"/>
	</wsdl:message>
	<wsdl:message name="BookSeriesBaseResponse">
		<wsdl:part name="response" element="stapi:BookSeriesBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="BookSeriesFullResponse">
		<wsdl:part name="response" element="stapi:BookSeriesFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="BookSeriesPortType">
		<wsdl:operation name="getBookSeriesBase">
			<wsdl:input name="getBookSeriesBaseRequest" message="stapi:BookSeriesBaseRequest"/>
			<wsdl:output name="getBookSeriesBaseResponse" message="stapi:BookSeriesBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getBookSeriesFull">
			<wsdl:input name="getBookSeriesFullRequest" message="stapi:BookSeriesFullRequest"/>
			<wsdl:output name="getBookSeriesFullResponse" message="stapi:BookSeriesFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BookSeriesBinding" type="stapi:BookSeriesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getBookSeriesBase">
			<wsdl:input name="getBookSeriesBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBookSeriesBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBookSeriesFull">
			<wsdl:input name="getBookSeriesFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getBookSeriesFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BookSeriesService">
		<wsdl:port name="BookSeriesPortType" binding="stapi:BookSeriesBinding">
			<soap:address location="http://stapi.co/api/v1/soap/bookSeries"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
