contract/src/main/resources/v1/wsdl/character.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Character"
		targetNamespace="http://stapi.co/api/v1/soap/character"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/character"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/character">
			<xs:include schemaLocation="character.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CharacterBaseRequest">
		<wsdl:part name="request" element="stapi:CharacterBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="CharacterFullRequest">
		<wsdl:part name="request" element="stapi:CharacterFullRequest"/>
	</wsdl:message>
	<wsdl:message name="CharacterBaseResponse">
		<wsdl:part name="response" element="stapi:CharacterBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="CharacterFullResponse">
		<wsdl:part name="response" element="stapi:CharacterFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="CharacterPortType">
		<wsdl:operation name="getCharacterBase">
			<wsdl:input name="getCharacterBaseRequest" message="stapi:CharacterBaseRequest"/>
			<wsdl:output name="getCharacterBaseResponse" message="stapi:CharacterBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getCharacterFull">
			<wsdl:input name="getCharacterFullRequest" message="stapi:CharacterFullRequest"/>
			<wsdl:output name="getCharacterFullResponse" message="stapi:CharacterFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CharacterBinding" type="stapi:CharacterPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCharacterBase">
			<wsdl:input name="getCharacterBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCharacterBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCharacterFull">
			<wsdl:input name="getCharacterFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCharacterFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CharacterService">
		<wsdl:port name="CharacterPortType" binding="stapi:CharacterBinding">
			<soap:address location="http://stapi.co/api/v1/soap/character"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
