contract/src/main/resources/v1/wsdl/comicSeries.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="ComicSeries"
		targetNamespace="http://stapi.co/api/v1/soap/comicSeries"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/comicSeries"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/comicSeries">
			<xs:include schemaLocation="comicSeries.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ComicSeriesBaseRequest">
		<wsdl:part name="request" element="stapi:ComicSeriesBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicSeriesFullRequest">
		<wsdl:part name="request" element="stapi:ComicSeriesFullRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicSeriesBaseResponse">
		<wsdl:part name="response" element="stapi:ComicSeriesBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="ComicSeriesFullResponse">
		<wsdl:part name="response" element="stapi:ComicSeriesFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="ComicSeriesPortType">
		<wsdl:operation name="getComicSeriesBase">
			<wsdl:input name="getComicSeriesBaseRequest" message="stapi:ComicSeriesBaseRequest"/>
			<wsdl:output name="getComicSeriesBaseResponse" message="stapi:ComicSeriesBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getComicSeriesFull">
			<wsdl:input name="getComicSeriesFullRequest" message="stapi:ComicSeriesFullRequest"/>
			<wsdl:output name="getComicSeriesFullResponse" message="stapi:ComicSeriesFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComicSeriesBinding" type="stapi:ComicSeriesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getComicSeriesBase">
			<wsdl:input name="getComicSeriesBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicSeriesBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getComicSeriesFull">
			<wsdl:input name="getComicSeriesFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicSeriesFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ComicSeriesService">
		<wsdl:port name="ComicSeriesPortType" binding="stapi:ComicSeriesBinding">
			<soap:address location="http://stapi.co/api/v1/soap/comicSeries"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
