contract/src/main/resources/v1/wsdl/comicStrip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="ComicStrip"
		targetNamespace="http://stapi.co/api/v1/soap/comicStrip"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/comicStrip"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/comicStrip">
			<xs:include schemaLocation="comicStrip.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ComicStripBaseRequest">
		<wsdl:part name="request" element="stapi:ComicStripBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicStripFullRequest">
		<wsdl:part name="request" element="stapi:ComicStripFullRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicStripBaseResponse">
		<wsdl:part name="response" element="stapi:ComicStripBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="ComicStripFullResponse">
		<wsdl:part name="response" element="stapi:ComicStripFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="ComicStripPortType">
		<wsdl:operation name="getComicStripBase">
			<wsdl:input name="getComicStripBaseRequest" message="stapi:ComicStripBaseRequest"/>
			<wsdl:output name="getComicStripBaseResponse" message="stapi:ComicStripBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getComicStripFull">
			<wsdl:input name="getComicStripFullRequest" message="stapi:ComicStripFullRequest"/>
			<wsdl:output name="getComicStripFullResponse" message="stapi:ComicStripFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComicStripBinding" type="stapi:ComicStripPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getComicStripBase">
			<wsdl:input name="getComicStripBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicStripBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getComicStripFull">
			<wsdl:input name="getComicStripFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicStripFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ComicStripService">
		<wsdl:port name="ComicStripPortType" binding="stapi:ComicStripBinding">
			<soap:address location="http://stapi.co/api/v1/soap/comicStrip"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
