contract/src/main/resources/v1/wsdl/comics.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Comics"
		targetNamespace="http://stapi.co/api/v1/soap/comics"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/comics"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/comics">
			<xs:include schemaLocation="comics.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ComicsBaseRequest">
		<wsdl:part name="request" element="stapi:ComicsBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicsFullRequest">
		<wsdl:part name="request" element="stapi:ComicsFullRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicsBaseResponse">
		<wsdl:part name="response" element="stapi:ComicsBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="ComicsFullResponse">
		<wsdl:part name="response" element="stapi:ComicsFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="ComicsPortType">
		<wsdl:operation name="getComicsBase">
			<wsdl:input name="getComicsBaseRequest" message="stapi:ComicsBaseRequest"/>
			<wsdl:output name="getComicsBaseResponse" message="stapi:ComicsBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getComicsFull">
			<wsdl:input name="getComicsFullRequest" message="stapi:ComicsFullRequest"/>
			<wsdl:output name="getComicsFullResponse" message="stapi:ComicsFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComicsBinding" type="stapi:ComicsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getComicsBase">
			<wsdl:input name="getComicsBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicsBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getComicsFull">
			<wsdl:input name="getComicsFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicsFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ComicsService">
		<wsdl:port name="ComicsPortType" binding="stapi:ComicsBinding">
			<soap:address location="http://stapi.co/api/v1/soap/comics"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
