contract/src/main/resources/v1/wsdl/comicSeries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:common="http://stapi.co/api/v1/soap/common"
		xmlns:comics="http://stapi.co/api/v1/soap/comics"
		xmlns:comicSeries="http://stapi.co/api/v1/soap/comicSeries"
		xmlns:company="http://stapi.co/api/v1/soap/company"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/comicSeries">
	<xs:import namespace="http://stapi.co/api/v1/soap/common" schemaLocation="common.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/comics" schemaLocation="comics.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/company" schemaLocation="company.xsd"/>
	<xs:element name="ComicSeriesBaseRequest">
		<xs:annotation>
			<xs:documentation>Request object for comic series search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Request">
					<xs:sequence>
						<xs:element name="title" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Comic series title</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publishedYear" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending year the comic series was published</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numberOfIssues" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal number of issues</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="stardate" type="common:FloatRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending stardate of comic series stories</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="year" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending year of comic series stories</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="miniseries" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a miniseries</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="photonovelSeries" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a photonovel series</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComicSeriesFullRequest">
		<xs:annotation>
			<xs:documentation>Request object for single comic series query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ApiRequest">
					<xs:sequence>
						<xs:element name="uid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Comic series unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComicSeriesBaseResponse">
		<xs:annotation>
			<xs:documentation>Response object for comic series search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Response">
					<xs:sequence>
						<xs:element name="comicSeries" type="comicSeries:ComicSeriesBase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of comic series matching given criteria</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComicSeriesFullResponse">
		<xs:annotation>
			<xs:documentation>Response object for single comic series query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="comicSeries" type="comicSeries:ComicSeriesFull">
					<xs:annotation>
						<xs:documentation>Comic series, if found</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ComicSeriesHeader">
		<xs:annotation>
			<xs:documentation>Header comic series, embedded in other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic series unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic series title</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComicSeriesBase">
		<xs:annotation>
			<xs:documentation>Base comic series, returned in search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic series unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic series title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year from which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month from which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day from which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year to which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month to which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day to which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfIssues" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of issues in comic series</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateFrom" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting stardate of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateTo" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending stardate of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="miniseries" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a miniseries</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="photonovelSeries" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a photonovel series</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComicSeriesFull">
		<xs:annotation>
			<xs:documentation>Full comic series, returned when queried using UID</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic series unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic series title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year from which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month from which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day from which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year to which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month to which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day to which the comic series was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfIssues" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of issues in comic series</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateFrom" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting stardate of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateTo" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending stardate of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of comic series stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="miniseries" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a miniseries</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="photonovelSeries" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a photonovel series</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="parentSeries" type="comicSeries:ComicSeriesBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Comic series this comic series is included in</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="childSeries" type="comicSeries:ComicSeriesBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Child comic series included in this comic series</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="publishers" type="company:CompanyBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Companies that published this comic series</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="comics" type="comics:ComicsBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Comics included in this comic series</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
