contract/src/main/resources/v1/wsdl/comicStrip.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:common="http://stapi.co/api/v1/soap/common"
		xmlns:comicSeries="http://stapi.co/api/v1/soap/comicSeries"
		xmlns:comicStrip="http://stapi.co/api/v1/soap/comicStrip"
		xmlns:staff="http://stapi.co/api/v1/soap/staff"
		xmlns:character="http://stapi.co/api/v1/soap/character"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/comicStrip">
	<xs:import namespace="http://stapi.co/api/v1/soap/common" schemaLocation="common.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/company" schemaLocation="company.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/staff" schemaLocation="staff.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/character" schemaLocation="character.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/comicSeries" schemaLocation="comicSeries.xsd"/>
	<xs:element name="ComicStripBaseRequest">
		<xs:annotation>
			<xs:documentation>Request object for comic strips search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Request">
					<xs:sequence>
						<xs:element name="title" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Comic strip title</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publishedYear" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending year the comic strip was published</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numberOfPages" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal number of pages</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="year" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending year of comic strip story</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComicStripFullRequest">
		<xs:annotation>
			<xs:documentation>Request object for single comic strip query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ApiRequest">
					<xs:sequence>
						<xs:element name="uid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Comic strip unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComicStripBaseResponse">
		<xs:annotation>
			<xs:documentation>Response object for comic strip search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Response">
					<xs:sequence>
						<xs:element name="comicStrips" type="comicStrip:ComicStripBase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of comic strips matching given criteria</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComicStripFullResponse">
		<xs:annotation>
			<xs:documentation>Response object for single comic strip query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="comicStrip" type="comicStrip:ComicStripFull"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ComicStripHeader">
		<xs:annotation>
			<xs:documentation>Header comic strip, embedded in other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic strip unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic strip title</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComicStripBase">
		<xs:annotation>
			<xs:documentation>Base comic strip, returned in search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic strip unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic strip title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodical" type="xs:string">
				<xs:annotation>
					<xs:documentation>Title of the periodical the comic strip was published in</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year from which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month from which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day from which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year to which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month to which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day to which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfPages" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of pages</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of comic strip stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of comic strip stories</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComicStripFull">
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic strip unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Comic strip title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="periodical" type="xs:string">
				<xs:annotation>
					<xs:documentation>Title of the periodical the comic strip was published in</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year from which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month from which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayFrom" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day from which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedYearTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Year to which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedMonthTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Month to which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publishedDayTo" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Day to which the comic strip was published</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="numberOfPages" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of pages</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of comic strip stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of comic strip stories</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="comicSeries" type="comicSeries:ComicSeriesBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Comic series this comic strip is included in</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="writers" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Writers involved in the comic strip</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="artists" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Artists involved in the comic strip</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="characters" type="character:CharacterBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Characters appearing in the comic strip</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
