contract/src/main/resources/v1/wsdl/comicCollection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="ComicCollection"
		targetNamespace="http://stapi.co/api/v1/soap/comicCollection"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/comicCollection"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/comicCollection">
			<xs:include schemaLocation="comicCollection.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ComicCollectionBaseRequest">
		<wsdl:part name="request" element="stapi:ComicCollectionBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicCollectionFullRequest">
		<wsdl:part name="request" element="stapi:ComicCollectionFullRequest"/>
	</wsdl:message>
	<wsdl:message name="ComicCollectionBaseResponse">
		<wsdl:part name="response" element="stapi:ComicCollectionBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="ComicCollectionFullResponse">
		<wsdl:part name="response" element="stapi:ComicCollectionFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="ComicCollectionPortType">
		<wsdl:operation name="getComicCollectionBase">
			<wsdl:input name="getComicCollectionBaseRequest" message="stapi:ComicCollectionBaseRequest"/>
			<wsdl:output name="getComicCollectionBaseResponse" message="stapi:ComicCollectionBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getComicCollectionFull">
			<wsdl:input name="getComicCollectionFullRequest" message="stapi:ComicCollectionFullRequest"/>
			<wsdl:output name="getComicCollectionFullResponse" message="stapi:ComicCollectionFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComicCollectionBinding" type="stapi:ComicCollectionPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getComicCollectionBase">
			<wsdl:input name="getComicCollectionBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicCollectionBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getComicCollectionFull">
			<wsdl:input name="getComicCollectionFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getComicCollectionFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ComicCollectionService">
		<wsdl:port name="ComicCollectionPortType" binding="stapi:ComicCollectionBinding">
			<soap:address location="http://stapi.co/api/v1/soap/comicCollection"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
