contract/src/main/resources/v1/wsdl/company.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Company"
		targetNamespace="http://stapi.co/api/v1/soap/company"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/company"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/company">
			<xs:include schemaLocation="company.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CompanyBaseRequest">
		<wsdl:part name="request" element="stapi:CompanyBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="CompanyFullRequest">
		<wsdl:part name="request" element="stapi:CompanyFullRequest"/>
	</wsdl:message>
	<wsdl:message name="CompanyBaseResponse">
		<wsdl:part name="response" element="stapi:CompanyBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="CompanyFullResponse">
		<wsdl:part name="response" element="stapi:CompanyFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="CompanyPortType">
		<wsdl:operation name="getCompanyBase">
			<wsdl:input name="getCompanyBaseRequest" message="stapi:CompanyBaseRequest"/>
			<wsdl:output name="getCompanyBaseResponse" message="stapi:CompanyBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getCompanyFull">
			<wsdl:input name="getCompanyFullRequest" message="stapi:CompanyFullRequest"/>
			<wsdl:output name="getCompanyFullResponse" message="stapi:CompanyFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CompanyBinding" type="stapi:CompanyPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getCompanyBase">
			<wsdl:input name="getCompanyBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCompanyBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCompanyFull">
			<wsdl:input name="getCompanyFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getCompanyFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CompanyService">
		<wsdl:port name="CompanyPortType" binding="stapi:CompanyBinding">
			<soap:address location="http://stapi.co/api/v1/soap/company"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
