contract/src/main/resources/v1/wsdl/episode.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Episode"
		targetNamespace="http://stapi.co/api/v1/soap/episode"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/episode"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/episode">
			<xs:include schemaLocation="episode.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="EpisodeBaseRequest">
		<wsdl:part name="request" element="stapi:EpisodeBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="EpisodeFullRequest">
		<wsdl:part name="request" element="stapi:EpisodeFullRequest"/>
	</wsdl:message>
	<wsdl:message name="EpisodeBaseResponse">
		<wsdl:part name="response" element="stapi:EpisodeBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="EpisodeFullResponse">
		<wsdl:part name="response" element="stapi:EpisodeFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="EpisodePortType">
		<wsdl:operation name="getEpisodeBase">
			<wsdl:input name="getEpisodeBaseRequest" message="stapi:EpisodeBaseRequest"/>
			<wsdl:output name="getEpisodeBaseResponse" message="stapi:EpisodeBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getEpisodeFull">
			<wsdl:input name="getEpisodeFullRequest" message="stapi:EpisodeFullRequest"/>
			<wsdl:output name="getEpisodeFullResponse" message="stapi:EpisodeFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EpisodeBinding" type="stapi:EpisodePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEpisodeBase">
			<wsdl:input name="getEpisodeBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEpisodeBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getEpisodeFull">
			<wsdl:input name="getEpisodeFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getEpisodeFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EpisodeService">
		<wsdl:port name="EpisodePortType" binding="stapi:EpisodeBinding">
			<soap:address location="http://stapi.co/api/v1/soap/episode"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
