contract/src/main/resources/v1/wsdl/episode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:episode="http://stapi.co/api/v1/soap/episode"
		xmlns:performer="http://stapi.co/api/v1/soap/performer"
		xmlns:character="http://stapi.co/api/v1/soap/character"
		xmlns:season="http://stapi.co/api/v1/soap/season"
		xmlns:series="http://stapi.co/api/v1/soap/series"
		xmlns:staff="http://stapi.co/api/v1/soap/staff"
		xmlns:common="http://stapi.co/api/v1/soap/common"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/episode">
	<xs:import namespace="http://stapi.co/api/v1/soap/common" schemaLocation="common.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/character" schemaLocation="character.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/performer" schemaLocation="performer.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/season" schemaLocation="season.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/series" schemaLocation="series.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/staff" schemaLocation="staff.xsd"/>
	<xs:element name="EpisodeBaseRequest">
		<xs:annotation>
			<xs:documentation>Request object for episodes search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Request">
					<xs:sequence>
						<xs:element name="title" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Episode title</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="seasonNumber" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal season number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="episodeNumber" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal episode number in season</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="productionSerialNumber" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Production serial number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="featureLength" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a feature length episode</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="stardate" type="common:FloatRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending stardate of episode story</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="year" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending year of episode story</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="usAirDate" type="common:DateRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal date the episode was first aired in the United States</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="finalScriptDate" type="common:DateRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal date the episode script was completed</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EpisodeFullRequest">
		<xs:annotation>
			<xs:documentation>Request object for single episode query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ApiRequest">
					<xs:sequence>
						<xs:element name="uid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Episode unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EpisodeBaseResponse">
		<xs:annotation>
			<xs:documentation>Response object for episodes search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Response">
					<xs:sequence>
						<xs:element name="episodes" type="episode:EpisodeBase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of episodes matching given criteria</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EpisodeFullResponse">
		<xs:annotation>
			<xs:documentation>Response object for single episode query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="episode" type="episode:EpisodeFull">
					<xs:annotation>
						<xs:documentation>Episode, if found</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="EpisodeHeader">
		<xs:annotation>
			<xs:documentation>Header episode, embedded in other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Episode unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Episode title</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EpisodeBase">
		<xs:annotation>
			<xs:documentation>Base episode, returned in search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Episode unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Episode title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleGerman" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Episode title in German</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleItalian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Episode title in Italian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleJapanese" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Episode title in Japanese</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="series:SeriesHeader">
				<xs:annotation>
					<xs:documentation>Series this episode belongs to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="season" type="season:SeasonHeader">
				<xs:annotation>
					<xs:documentation>Season this episode belongs to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seasonNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>Season number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="episodeNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>Episode number in season</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionSerialNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Production serial number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureLength" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a feature length episode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateFrom" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting stardate of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateTo" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending stardate of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usAirDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the episode was first aired in the United States</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="finalScriptDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the episode script was completed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EpisodeFull">
		<xs:annotation>
			<xs:documentation>Full episode, returned when queried using UID</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Episode unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Episode title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleGerman" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Episode title in German</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleItalian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Episode title in Italian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleJapanese" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Episode title in Japanese</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series" type="series:SeriesBase">
				<xs:annotation>
					<xs:documentation>Series this episode belongs to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="season" type="season:SeasonBase">
				<xs:annotation>
					<xs:documentation>Season this episode belongs to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="seasonNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>Season number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="episodeNumber" type="xs:int">
				<xs:annotation>
					<xs:documentation>Episode number in season</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionSerialNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Production serial number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureLength" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a feature length episode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateFrom" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting stardate of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateTo" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending stardate of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of episode story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usAirDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the episode was first aired in the United States</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="finalScriptDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the episode script was completed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="writers" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Writers involved in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="teleplayAuthors" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Teleplay authors involved in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="storyAuthors" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Story authors involved in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="directors" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Directors authors involved in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="performers" type="performer:PerformerBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Performers appearing in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="stuntPerformers" type="performer:PerformerBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Stunt performers appearing in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="standInPerformers" type="performer:PerformerBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Stand-in performers appearing in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="characters" type="character:CharacterBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Characters appearing in the episode</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
