contract/src/main/resources/v1/wsdl/food.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Food"
		targetNamespace="http://stapi.co/api/v1/soap/food"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/food"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/food">
			<xs:include schemaLocation="food.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FoodBaseRequest">
		<wsdl:part name="request" element="stapi:FoodBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="FoodFullRequest">
		<wsdl:part name="request" element="stapi:FoodFullRequest"/>
	</wsdl:message>
	<wsdl:message name="FoodBaseResponse">
		<wsdl:part name="response" element="stapi:FoodBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="FoodFullResponse">
		<wsdl:part name="response" element="stapi:FoodFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="FoodPortType">
		<wsdl:operation name="getFoodBase">
			<wsdl:input name="getFoodBaseRequest" message="stapi:FoodBaseRequest"/>
			<wsdl:output name="getFoodBaseResponse" message="stapi:FoodBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getFoodFull">
			<wsdl:input name="getFoodFullRequest" message="stapi:FoodFullRequest"/>
			<wsdl:output name="getFoodFullResponse" message="stapi:FoodFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FoodBinding" type="stapi:FoodPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getFoodBase">
			<wsdl:input name="getFoodBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getFoodBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getFoodFull">
			<wsdl:input name="getFoodFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getFoodFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FoodService">
		<wsdl:port name="FoodPortType" binding="stapi:FoodBinding">
			<soap:address location="http://stapi.co/api/v1/soap/food"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
