contract/src/main/resources/v1/wsdl/genre.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/genre">
	<xs:complexType name="Genre">
		<xs:annotation>
			<xs:documentation>Genre of video games</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Genre unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Genre name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
