contract/src/main/resources/v1/wsdl/literature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Literature"
		targetNamespace="http://stapi.co/api/v1/soap/literature"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/literature"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/literature">
			<xs:include schemaLocation="literature.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="LiteratureBaseRequest">
		<wsdl:part name="request" element="stapi:LiteratureBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="LiteratureFullRequest">
		<wsdl:part name="request" element="stapi:LiteratureFullRequest"/>
	</wsdl:message>
	<wsdl:message name="LiteratureBaseResponse">
		<wsdl:part name="response" element="stapi:LiteratureBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="LiteratureFullResponse">
		<wsdl:part name="response" element="stapi:LiteratureFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="LiteraturePortType">
		<wsdl:operation name="getLiteratureBase">
			<wsdl:input name="getLiteratureBaseRequest" message="stapi:LiteratureBaseRequest"/>
			<wsdl:output name="getLiteratureBaseResponse" message="stapi:LiteratureBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getLiteratureFull">
			<wsdl:input name="getLiteratureFullRequest" message="stapi:LiteratureFullRequest"/>
			<wsdl:output name="getLiteratureFullResponse" message="stapi:LiteratureFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LiteratureBinding" type="stapi:LiteraturePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getLiteratureBase">
			<wsdl:input name="getLiteratureBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getLiteratureBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLiteratureFull">
			<wsdl:input name="getLiteratureFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getLiteratureFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LiteratureService">
		<wsdl:port name="LiteraturePortType" binding="stapi:LiteratureBinding">
			<soap:address location="http://stapi.co/api/v1/soap/literature"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
