contract/src/main/resources/v1/wsdl/magazine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Magazine"
		targetNamespace="http://stapi.co/api/v1/soap/magazine"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/magazine"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/magazine">
			<xs:include schemaLocation="magazine.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MagazineBaseRequest">
		<wsdl:part name="request" element="stapi:MagazineBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="MagazineFullRequest">
		<wsdl:part name="request" element="stapi:MagazineFullRequest"/>
	</wsdl:message>
	<wsdl:message name="MagazineBaseResponse">
		<wsdl:part name="response" element="stapi:MagazineBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="MagazineFullResponse">
		<wsdl:part name="response" element="stapi:MagazineFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="MagazinePortType">
		<wsdl:operation name="getMagazineBase">
			<wsdl:input name="getMagazineBaseRequest" message="stapi:MagazineBaseRequest"/>
			<wsdl:output name="getMagazineBaseResponse" message="stapi:MagazineBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMagazineFull">
			<wsdl:input name="getMagazineFullRequest" message="stapi:MagazineFullRequest"/>
			<wsdl:output name="getMagazineFullResponse" message="stapi:MagazineFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MagazineBinding" type="stapi:MagazinePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMagazineBase">
			<wsdl:input name="getMagazineBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMagazineBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMagazineFull">
			<wsdl:input name="getMagazineFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMagazineFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MagazineService">
		<wsdl:port name="MagazinePortType" binding="stapi:MagazineBinding">
			<soap:address location="http://stapi.co/api/v1/soap/magazine"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
