contract/src/main/resources/v1/wsdl/material.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Material"
		targetNamespace="http://stapi.co/api/v1/soap/material"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/material"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/material">
			<xs:include schemaLocation="material.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MaterialBaseRequest">
		<wsdl:part name="request" element="stapi:MaterialBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="MaterialFullRequest">
		<wsdl:part name="request" element="stapi:MaterialFullRequest"/>
	</wsdl:message>
	<wsdl:message name="MaterialBaseResponse">
		<wsdl:part name="response" element="stapi:MaterialBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="MaterialFullResponse">
		<wsdl:part name="response" element="stapi:MaterialFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="MaterialPortType">
		<wsdl:operation name="getMaterialBase">
			<wsdl:input name="getMaterialBaseRequest" message="stapi:MaterialBaseRequest"/>
			<wsdl:output name="getMaterialBaseResponse" message="stapi:MaterialBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMaterialFull">
			<wsdl:input name="getMaterialFullRequest" message="stapi:MaterialFullRequest"/>
			<wsdl:output name="getMaterialFullResponse" message="stapi:MaterialFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaterialBinding" type="stapi:MaterialPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMaterialBase">
			<wsdl:input name="getMaterialBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMaterialBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMaterialFull">
			<wsdl:input name="getMaterialFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMaterialFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaterialService">
		<wsdl:port name="MaterialPortType" binding="stapi:MaterialBinding">
			<soap:address location="http://stapi.co/api/v1/soap/material"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
