contract/src/main/resources/v1/wsdl/movie.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Movie"
		targetNamespace="http://stapi.co/api/v1/soap/movie"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/movie"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/movie">
			<xs:include schemaLocation="movie.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="MovieBaseRequest">
		<wsdl:part name="request" element="stapi:MovieBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="MovieFullRequest">
		<wsdl:part name="request" element="stapi:MovieFullRequest"/>
	</wsdl:message>
	<wsdl:message name="MovieBaseResponse">
		<wsdl:part name="response" element="stapi:MovieBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="MovieFullResponse">
		<wsdl:part name="response" element="stapi:MovieFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="MoviePortType">
		<wsdl:operation name="getMovieBase">
			<wsdl:input name="getMovieBaseRequest" message="stapi:MovieBaseRequest"/>
			<wsdl:output name="getMovieBaseResponse" message="stapi:MovieBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMovieFull">
			<wsdl:input name="getMovieFullRequest" message="stapi:MovieFullRequest"/>
			<wsdl:output name="getMovieFullResponse" message="stapi:MovieFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MovieBinding" type="stapi:MoviePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMovieBase">
			<wsdl:input name="getMovieBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMovieBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMovieFull">
			<wsdl:input name="getMovieFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getMovieFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MovieService">
		<wsdl:port name="MoviePortType" binding="stapi:MovieBinding">
			<soap:address location="http://stapi.co/api/v1/soap/movie"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
