contract/src/main/resources/v1/wsdl/movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:character="http://stapi.co/api/v1/soap/character"
		xmlns:movie="http://stapi.co/api/v1/soap/movie"
		xmlns:staff="http://stapi.co/api/v1/soap/staff"
		xmlns:performer="http://stapi.co/api/v1/soap/performer"
		xmlns:common="http://stapi.co/api/v1/soap/common"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/movie">
	<xs:import namespace="http://stapi.co/api/v1/soap/common" schemaLocation="common.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/character" schemaLocation="character.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/performer" schemaLocation="performer.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/staff" schemaLocation="staff.xsd"/>
	<xs:element name="MovieBaseRequest">
		<xs:annotation>
			<xs:documentation>Request object for movies search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Request">
					<xs:sequence>
						<xs:element name="title" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Movie title</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="stardate" type="common:FloatRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending stardate of movie story</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="year" type="common:IntegerRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Starting and ending year of movie story</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="usReleaseDate" type="common:DateRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal date the movie was first released in the United States</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MovieFullRequest">
		<xs:annotation>
			<xs:documentation>Request object for single movie query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ApiRequest">
					<xs:sequence>
						<xs:element name="uid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Movie unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MovieBaseResponse">
		<xs:annotation>
			<xs:documentation>Response object for movies search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Response">
					<xs:sequence>
						<xs:element name="movies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of movies matching given criteria</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MovieFullResponse">
		<xs:annotation>
			<xs:documentation>Response object for single movie query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="movie" type="movie:MovieFull">
					<xs:annotation>
						<xs:documentation>Movie, if found</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MovieHeader">
		<xs:annotation>
			<xs:documentation>Header movie, embedded in other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Movie unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Movie title</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MovieBase">
		<xs:annotation>
			<xs:documentation>Base movie, returned in search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Movie unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Movie title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainDirector" type="staff:StaffHeader">
				<xs:annotation>
					<xs:documentation>Director of the movie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleBulgarian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Bulgarian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleCatalan" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Catalan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleChineseTraditional" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Chinese traditional</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleGerman" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in German</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleItalian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Italian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleJapanese" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Japanese</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titlePolish" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Polish</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleRussian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Russian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleSerbian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Serbian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleSpanish" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Spanish</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateFrom" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting stardate of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateTo" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending stardate of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usReleaseDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the movie was first released in the United States</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MovieFull">
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Movie unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>Movie title</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mainDirector" type="staff:StaffBase">
				<xs:annotation>
					<xs:documentation>Director of the movie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleBulgarian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Bulgarian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleCatalan" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Catalan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleChineseTraditional" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Chinese traditional</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleGerman" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in German</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleItalian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Italian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleJapanese" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Japanese</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titlePolish" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Polish</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleRussian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Russian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleSerbian" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Serbian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="titleSpanish" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Movie title in Spanish</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateFrom" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting stardate of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stardateTo" type="xs:float" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending stardate of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearFrom" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Starting year of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="yearTo" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ending year of movie story</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usReleaseDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the movie was first released in the United States</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="writers" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Writers involved in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="screenplayAuthors" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Screenplay authors involved in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="storyAuthors" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Story authors authors involved in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="directors" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Directors authors involved in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="producers" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Producers authors involved in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="staff" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Other staff involved in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="performers" type="performer:PerformerBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Performers appearing in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="stuntPerformers" type="performer:PerformerBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Stunt performers appearing in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="standInPerformers" type="performer:PerformerBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Stand-in performers appearing in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="characters" type="character:CharacterBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Characters appearing in the movie</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
