contract/src/main/resources/v1/wsdl/occupation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Occupation"
		targetNamespace="http://stapi.co/api/v1/soap/occupation"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/occupation"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/occupation">
			<xs:include schemaLocation="occupation.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="OccupationBaseRequest">
		<wsdl:part name="request" element="stapi:OccupationBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="OccupationFullRequest">
		<wsdl:part name="request" element="stapi:OccupationFullRequest"/>
	</wsdl:message>
	<wsdl:message name="OccupationBaseResponse">
		<wsdl:part name="response" element="stapi:OccupationBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="OccupationFullResponse">
		<wsdl:part name="response" element="stapi:OccupationFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="OccupationPortType">
		<wsdl:operation name="getOccupationBase">
			<wsdl:input name="getOccupationBaseRequest" message="stapi:OccupationBaseRequest"/>
			<wsdl:output name="getOccupationBaseResponse" message="stapi:OccupationBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOccupationFull">
			<wsdl:input name="getOccupationFullRequest" message="stapi:OccupationFullRequest"/>
			<wsdl:output name="getOccupationFullResponse" message="stapi:OccupationFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OccupationBinding" type="stapi:OccupationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getOccupationBase">
			<wsdl:input name="getOccupationBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOccupationBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOccupationFull">
			<wsdl:input name="getOccupationFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOccupationFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OccupationService">
		<wsdl:port name="OccupationPortType" binding="stapi:OccupationBinding">
			<soap:address location="http://stapi.co/api/v1/soap/occupation"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
