contract/src/main/resources/v1/wsdl/organization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Organization"
		targetNamespace="http://stapi.co/api/v1/soap/organization"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/organization"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/organization">
			<xs:include schemaLocation="organization.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="OrganizationBaseRequest">
		<wsdl:part name="request" element="stapi:OrganizationBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="OrganizationFullRequest">
		<wsdl:part name="request" element="stapi:OrganizationFullRequest"/>
	</wsdl:message>
	<wsdl:message name="OrganizationBaseResponse">
		<wsdl:part name="response" element="stapi:OrganizationBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="OrganizationFullResponse">
		<wsdl:part name="response" element="stapi:OrganizationFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="OrganizationPortType">
		<wsdl:operation name="getOrganizationBase">
			<wsdl:input name="getOrganizationBaseRequest" message="stapi:OrganizationBaseRequest"/>
			<wsdl:output name="getOrganizationBaseResponse" message="stapi:OrganizationBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationFull">
			<wsdl:input name="getOrganizationFullRequest" message="stapi:OrganizationFullRequest"/>
			<wsdl:output name="getOrganizationFullResponse" message="stapi:OrganizationFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrganizationBinding" type="stapi:OrganizationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getOrganizationBase">
			<wsdl:input name="getOrganizationBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOrganizationFull">
			<wsdl:input name="getOrganizationFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOrganizationFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrganizationService">
		<wsdl:port name="OrganizationPortType" binding="stapi:OrganizationBinding">
			<soap:address location="http://stapi.co/api/v1/soap/organization"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
