contract/src/main/resources/v1/wsdl/performer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Performer"
		targetNamespace="http://stapi.co/api/v1/soap/performer"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/performer"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/performer">
			<xs:include schemaLocation="performer.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PerformerBaseRequest">
		<wsdl:part name="request" element="stapi:PerformerBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="PerformerFullRequest">
		<wsdl:part name="request" element="stapi:PerformerFullRequest"/>
	</wsdl:message>
	<wsdl:message name="PerformerBaseResponse">
		<wsdl:part name="response" element="stapi:PerformerBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="PerformerFullResponse">
		<wsdl:part name="response" element="stapi:PerformerFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="PerformerPortType">
		<wsdl:operation name="getPerformerBase">
			<wsdl:input name="getPerformerBaseRequest" message="stapi:PerformerBaseRequest"/>
			<wsdl:output name="getPerformerBaseResponse" message="stapi:PerformerBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPerformerFull">
			<wsdl:input name="getPerformerFullRequest" message="stapi:PerformerFullRequest"/>
			<wsdl:output name="getPerformerFullResponse" message="stapi:PerformerFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PerformerBinding" type="stapi:PerformerPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPerformerBase">
			<wsdl:input name="getPerformerBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPerformerBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPerformerFull">
			<wsdl:input name="getPerformerFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPerformerFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PerformerService">
		<wsdl:port name="PerformerPortType" binding="stapi:PerformerBinding">
			<soap:address location="http://stapi.co/api/v1/soap/performer"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
