contract/src/main/resources/v1/wsdl/season.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Season"
		targetNamespace="http://stapi.co/api/v1/soap/season"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/season"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/season">
			<xs:include schemaLocation="season.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SeasonBaseRequest">
		<wsdl:part name="request" element="stapi:SeasonBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="SeasonFullRequest">
		<wsdl:part name="request" element="stapi:SeasonFullRequest"/>
	</wsdl:message>
	<wsdl:message name="SeasonBaseResponse">
		<wsdl:part name="response" element="stapi:SeasonBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="SeasonFullResponse">
		<wsdl:part name="response" element="stapi:SeasonFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="SeasonPortType">
		<wsdl:operation name="getSeasonBase">
			<wsdl:input name="getSeasonBaseRequest" message="stapi:SeasonBaseRequest"/>
			<wsdl:output name="getSeasonBaseResponse" message="stapi:SeasonBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSeasonFull">
			<wsdl:input name="getSeasonFullRequest" message="stapi:SeasonFullRequest"/>
			<wsdl:output name="getSeasonFullResponse" message="stapi:SeasonFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SeasonBinding" type="stapi:SeasonPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSeasonBase">
			<wsdl:input name="getSeasonBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSeasonBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSeasonFull">
			<wsdl:input name="getSeasonFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSeasonFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SeasonService">
		<wsdl:port name="SeasonPortType" binding="stapi:SeasonBinding">
			<soap:address location="http://stapi.co/api/v1/soap/season"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
