contract/src/main/resources/v1/wsdl/series.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Series"
		targetNamespace="http://stapi.co/api/v1/soap/series"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/series"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/series">
			<xs:include schemaLocation="series.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SeriesBaseRequest">
		<wsdl:part name="request" element="stapi:SeriesBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="SeriesFullRequest">
		<wsdl:part name="request" element="stapi:SeriesFullRequest"/>
	</wsdl:message>
	<wsdl:message name="SeriesBaseResponse">
		<wsdl:part name="response" element="stapi:SeriesBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="SeriesFullResponse">
		<wsdl:part name="response" element="stapi:SeriesFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="SeriesPortType">
		<wsdl:operation name="getSeriesBase">
			<wsdl:input name="getSeriesBaseRequest" message="stapi:SeriesBaseRequest"/>
			<wsdl:output name="getSeriesBaseResponse" message="stapi:SeriesBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSeriesFull">
			<wsdl:input name="getSeriesFullRequest" message="stapi:SeriesFullRequest"/>
			<wsdl:output name="getSeriesFullResponse" message="stapi:SeriesFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SeriesBinding" type="stapi:SeriesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSeriesBase">
			<wsdl:input name="getSeriesBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSeriesBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSeriesFull">
			<wsdl:input name="getSeriesFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSeriesFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SeriesService">
		<wsdl:port name="SeriesPortType" binding="stapi:SeriesBinding">
			<soap:address location="http://stapi.co/api/v1/soap/series"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
