contract/src/main/resources/v1/wsdl/spacecraft.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Spacecraft"
		targetNamespace="http://stapi.co/api/v1/soap/spacecraft"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/spacecraft"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/spacecraft">
			<xs:include schemaLocation="spacecraft.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SpacecraftBaseRequest">
		<wsdl:part name="request" element="stapi:SpacecraftBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="SpacecraftFullRequest">
		<wsdl:part name="request" element="stapi:SpacecraftFullRequest"/>
	</wsdl:message>
	<wsdl:message name="SpacecraftBaseResponse">
		<wsdl:part name="response" element="stapi:SpacecraftBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="SpacecraftFullResponse">
		<wsdl:part name="response" element="stapi:SpacecraftFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="SpacecraftPortType">
		<wsdl:operation name="getSpacecraftBase">
			<wsdl:input name="getSpacecraftBaseRequest" message="stapi:SpacecraftBaseRequest"/>
			<wsdl:output name="getSpacecraftBaseResponse" message="stapi:SpacecraftBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSpacecraftFull">
			<wsdl:input name="getSpacecraftFullRequest" message="stapi:SpacecraftFullRequest"/>
			<wsdl:output name="getSpacecraftFullResponse" message="stapi:SpacecraftFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SpacecraftBinding" type="stapi:SpacecraftPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSpacecraftBase">
			<wsdl:input name="getSpacecraftBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSpacecraftBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSpacecraftFull">
			<wsdl:input name="getSpacecraftFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSpacecraftFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SpacecraftService">
		<wsdl:port name="SpacecraftPortType" binding="stapi:SpacecraftBinding">
			<soap:address location="http://stapi.co/api/v1/soap/spacecraft"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
