contract/src/main/resources/v1/wsdl/species.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:astronomicalObject="http://stapi.co/api/v1/soap/astronomicalObject"
		xmlns:character="http://stapi.co/api/v1/soap/character"
		xmlns:common="http://stapi.co/api/v1/soap/common"
		xmlns:species="http://stapi.co/api/v1/soap/species"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/species">
	<xs:import namespace="http://stapi.co/api/v1/soap/astronomicalObject" schemaLocation="astronomicalObject.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/character" schemaLocation="character.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/common" schemaLocation="common.xsd"/>
	<xs:element name="SpeciesBaseRequest">
		<xs:annotation>
			<xs:documentation>Request object for species search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Request">
					<xs:sequence>
						<xs:element name="name" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Species name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="extinctSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be an extinct species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="warpCapableSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a warp-capable species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="extraGalacticSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be an extra-galactic species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="humanoidSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a humanoid species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="reptilianSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a reptilian species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nonCorporealSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a non-corporeal species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="shapeshiftingSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a shapeshifting species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="spaceborneSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a spaceborne species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="telepathicSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a telepathic species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="transDimensionalSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a trans-dimensional species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="unnamedSpecies" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether it should be a unnamed species</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="alternateReality" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this species should be from alternate reality</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpeciesFullRequest">
		<xs:annotation>
			<xs:documentation>Request object for single species query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ApiRequest">
					<xs:sequence>
						<xs:element name="uid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Species unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpeciesBaseResponse">
		<xs:annotation>
			<xs:documentation>Response object for species search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Response">
					<xs:sequence>
						<xs:element name="species" type="species:SpeciesBase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of species matching given criteria</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpeciesFullResponse">
		<xs:annotation>
			<xs:documentation>Response object for single species query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="species" type="species:SpeciesFull">
					<xs:annotation>
						<xs:documentation>Species, if found</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SpeciesHeader">
		<xs:annotation>
			<xs:documentation>Header species, embedded in other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Species unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Species name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpeciesBase">
		<xs:annotation>
			<xs:documentation>Base species, returned in search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Species unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Species name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homeworld" type="astronomicalObject:AstronomicalObjectHeader" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Homeworld of the species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quadrant" type="astronomicalObject:AstronomicalObjectHeader" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quadrant the species originates from</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extinctSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's an extinct species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="warpCapableSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a warp-capable species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extraGalacticSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's an extra-galactic species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="humanoidSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a humanoid species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reptilianSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a reptilian species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonCorporealSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a non-corporeal species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shapeshiftingSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a shapeshifting species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spaceborneSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a spaceborne species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telepathicSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a telepathic species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transDimensionalSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a trans-dimensional species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unnamedSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a unnamed species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateReality" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this species is from alternate reality</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpeciesFull">
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Species unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Species name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homeworld" type="astronomicalObject:AstronomicalObjectBase" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Homeworld of the species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quadrant" type="astronomicalObject:AstronomicalObjectBase" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Quadrant the species originates from</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extinctSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's an extinct species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="warpCapableSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a warp-capable species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extraGalacticSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's an extra-galactic species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="humanoidSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a humanoid species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reptilianSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a reptilian species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nonCorporealSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a non-corporeal species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="shapeshiftingSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a shapeshifting species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spaceborneSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a spaceborne species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telepathicSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a telepathic species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transDimensionalSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a trans-dimensional species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unnamedSpecies" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether it's a unnamed species</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="alternateReality" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this species is from alternate reality</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="characters" type="character:CharacterBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Characters belonging to the species</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
