contract/src/main/resources/v1/wsdl/species.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Species"
		targetNamespace="http://stapi.co/api/v1/soap/species"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/species"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/species">
			<xs:include schemaLocation="species.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SpeciesBaseRequest">
		<wsdl:part name="request" element="stapi:SpeciesBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="SpeciesFullRequest">
		<wsdl:part name="request" element="stapi:SpeciesFullRequest"/>
	</wsdl:message>
	<wsdl:message name="SpeciesBaseResponse">
		<wsdl:part name="response" element="stapi:SpeciesBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="SpeciesFullResponse">
		<wsdl:part name="response" element="stapi:SpeciesFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="SpeciesPortType">
		<wsdl:operation name="getSpeciesBase">
			<wsdl:input name="getSpeciesBaseRequest" message="stapi:SpeciesBaseRequest"/>
			<wsdl:output name="getSpeciesBaseResponse" message="stapi:SpeciesBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getSpeciesFull">
			<wsdl:input name="getSpeciesFullRequest" message="stapi:SpeciesFullRequest"/>
			<wsdl:output name="getSpeciesFullResponse" message="stapi:SpeciesFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SpeciesBinding" type="stapi:SpeciesPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSpeciesBase">
			<wsdl:input name="getSpeciesBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSpeciesBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSpeciesFull">
			<wsdl:input name="getSpeciesFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getSpeciesFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SpeciesService">
		<wsdl:port name="SpeciesPortType" binding="stapi:SpeciesBinding">
			<soap:address location="http://stapi.co/api/v1/soap/species"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
