contract/src/main/resources/v1/wsdl/staff.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="Staff"
		targetNamespace="http://stapi.co/api/v1/soap/staff"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/staff"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/staff">
			<xs:include schemaLocation="staff.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="StaffBaseRequest">
		<wsdl:part name="request" element="stapi:StaffBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="StaffFullRequest">
		<wsdl:part name="request" element="stapi:StaffFullRequest"/>
	</wsdl:message>
	<wsdl:message name="StaffBaseResponse">
		<wsdl:part name="response" element="stapi:StaffBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="StaffFullResponse">
		<wsdl:part name="response" element="stapi:StaffFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="StaffPortType">
		<wsdl:operation name="getStaffBase">
			<wsdl:input name="getStaffBaseRequest" message="stapi:StaffBaseRequest"/>
			<wsdl:output name="getStaffBaseResponse" message="stapi:StaffBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStaffFull">
			<wsdl:input name="getStaffFullRequest" message="stapi:StaffFullRequest"/>
			<wsdl:output name="getStaffFullResponse" message="stapi:StaffFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StaffBinding" type="stapi:StaffPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getStaffBase">
			<wsdl:input name="getStaffBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getStaffBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStaffFull">
			<wsdl:input name="getStaffFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getStaffFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StaffService">
		<wsdl:port name="StaffPortType" binding="stapi:StaffBinding">
			<soap:address location="http://stapi.co/api/v1/soap/staff"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
