contract/src/main/resources/v1/wsdl/staff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:staff="http://stapi.co/api/v1/soap/staff"
		xmlns:common="http://stapi.co/api/v1/soap/common"
		xmlns:episode="http://stapi.co/api/v1/soap/episode"
		xmlns:movie="http://stapi.co/api/v1/soap/movie"
		elementFormDefault="qualified"
		targetNamespace="http://stapi.co/api/v1/soap/staff">
	<xs:import namespace="http://stapi.co/api/v1/soap/common" schemaLocation="common.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/episode" schemaLocation="episode.xsd"/>
	<xs:import namespace="http://stapi.co/api/v1/soap/movie" schemaLocation="movie.xsd"/>
	<xs:element name="StaffBaseRequest">
		<xs:annotation>
			<xs:documentation>Request object for staff search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Request">
					<xs:sequence>
						<xs:element name="name" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Staff name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="birthName" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Staff birth name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gender" type="common:GenderEnum" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Staff gender</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dateOfBirth" type="common:DateRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal date the staff was born</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="placeOfBirth" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Place the staff was born</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="dateOfDeath" type="common:DateRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Minimal and maximal date the staff died</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="placeOfDeath" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Place the staff died</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="artDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from art department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="artDirector" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be an art director</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="productionDesigner" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a production designer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cameraAndElectricalDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from camera and electrical department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cinematographer" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a cinematographer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="castingDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from casting department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="costumeDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from costume department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="costumeDesigner" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a custume designer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="director" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a director</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="assistantOrSecondUnitDirector" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be an assistant or secound unit director director</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="exhibitAndAttractionStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be an exhibit and attraction staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="filmEditor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a film editor</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="linguist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a linguist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="locationStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a location staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="makeupStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a make-up staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="musicDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from music department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="composer" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a composer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="personalAssistant" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a personal assistant</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="producer" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a producer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="productionAssociate" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a production associate</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="productionStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a production staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publicationStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a publication staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="scienceConsultant" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a science consultant</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="soundDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from sound department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="specialAndVisualEffectsStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a special and visual effects staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="author" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be an author</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="audioAuthor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be an audio author</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="calendarArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a calendar artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicAuthor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic author</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicColorArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic color artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicInteriorArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic interior artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicInkArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic ink artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicPencilArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic pencil artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicLetterArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic letter artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="comicStripArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a comic strip artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gameArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a game artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="gameAuthor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a game author</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="novelArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a novel artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="novelAuthor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a novel author</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="referenceArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a reference artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="referenceAuthor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a reference author</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publicationArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a publication artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publicationDesigner" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a publication designer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publicationEditor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a publication editor</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="publicityArtist" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a publicity artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="cbsDigitalStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a part of CBS digital staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ilmProductionStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a part of ILM production staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="specialFeaturesStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a special features artist</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="storyEditor" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a story editor</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="studioExecutive" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a studio executive</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="stuntDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from stunt department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="transportationDepartment" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be from transportation department</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="videoGameProductionStaff" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person is video game production staff</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="writer" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Whether this person should be a writer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StaffFullRequest">
		<xs:annotation>
			<xs:documentation>Request object for single staff query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ApiRequest">
					<xs:sequence>
						<xs:element name="uid" type="xs:string">
							<xs:annotation>
								<xs:documentation>Staff unique ID</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StaffBaseResponse">
		<xs:annotation>
			<xs:documentation>Response object for staff search</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:Response">
					<xs:sequence>
						<xs:element name="staff" type="staff:StaffBase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>List of staff matching given criteria</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="StaffFullResponse">
		<xs:annotation>
			<xs:documentation>Response object for single staff query</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="staff" type="staff:StaffFull">
					<xs:annotation>
						<xs:documentation>Staff, if found</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StaffHeader">
		<xs:annotation>
			<xs:documentation>Header staff, embedded in other objects</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Staff unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Staff name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StaffBase">
		<xs:annotation>
			<xs:documentation>Base staff, returned in search results</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Staff unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Staff name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Staff birth name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gender" type="common:GenderEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Staff gender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the staff was born</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfBirth" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Place the staff was born</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the staff died</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfDeath" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Place the staff died</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="artDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from art department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="artDirector" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an art director</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionDesigner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a production designer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cameraAndElectricalDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from camera and electrical department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cinematographer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a cinematographer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="castingDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from casting department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="costumeDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from costume department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="costumeDesigner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a custume designer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="director" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a director</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assistantOrSecondUnitDirector" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an assistant or secound unit director director</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exhibitAndAttractionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an exhibit and attraction staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filmEditor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a film editor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linguist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a linguist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a location staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="makeupStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a make-up staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="musicDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from music department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="composer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a composer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personalAssistant" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a personal assistant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a producer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionAssociate" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a production associate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a production staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scienceConsultant" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a science consultant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from sound department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specialAndVisualEffectsStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a special and visual effects staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="audioAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an audio author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="calendarArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a calendar artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicColorArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic color artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicInteriorArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic interior artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicInkArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic ink artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicPencilArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic pencil artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicLetterArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic letter artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicStripArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic strip artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gameArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a game artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gameAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a game author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="novelArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a novel artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="novelAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a novel author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a reference artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a reference author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationDesigner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication designer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationEditor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication editor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicityArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publicity artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbsDigitalStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a part of CBS digital staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ilmProductionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a part of ILM production staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specialFeaturesStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a special features artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storyEditor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a story editor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studioExecutive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a studio executive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stuntDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from stunt department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transportationDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from transportation department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="videoGameProductionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is video game production staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="writer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a writer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StaffFull">
		<xs:annotation>
			<xs:documentation>Full staff, returned when queried using UID</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Staff unique ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Staff name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="birthName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Staff birth name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gender" type="common:GenderEnum" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Staff gender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the staff was born</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfBirth" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Place the staff was born</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the staff died</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="placeOfDeath" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Place the staff died</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="artDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from art department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="artDirector" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an art director</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionDesigner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a production designer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cameraAndElectricalDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from camera and electrical department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cinematographer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a cinematographer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="castingDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from casting department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="costumeDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from costume department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="costumeDesigner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a custume designer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="director" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a director</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="assistantOrSecondUnitDirector" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an assistant or secound unit director director</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exhibitAndAttractionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an exhibit and attraction staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="filmEditor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a film editor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linguist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a linguist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locationStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a location staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="makeupStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a make-up staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="musicDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from music department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="composer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a composer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personalAssistant" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a personal assistant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="producer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a producer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionAssociate" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a production associate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a production staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scienceConsultant" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a science consultant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soundDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from sound department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specialAndVisualEffectsStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a special and visual effects staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="audioAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is an audio author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="calendarArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a calendar artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicColorArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic color artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicInteriorArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic interior artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicInkArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic ink artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicPencilArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic pencil artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicLetterArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic letter artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comicStripArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a comic strip artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gameArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a game artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gameAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a game author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="novelArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a novel artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="novelAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a novel author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a reference artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceAuthor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a reference author</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationDesigner" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication designer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicationEditor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publication editor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="publicityArtist" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a publicity artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cbsDigitalStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a part of CBS digital staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ilmProductionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a part of ILM production staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="specialFeaturesStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a special features artist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="storyEditor" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a story editor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="studioExecutive" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a studio executive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stuntDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from stunt department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transportationDepartment" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is from transportation department</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="videoGameProductionStaff" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is video game production staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="writer" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether this person is a writer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element name="writtenEpisodes" type="episode:EpisodeBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Episodes written by this person</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="teleplayAuthoredEpisodes" type="episode:EpisodeBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Episodes to which this person has written teleplay</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="storyAuthoredEpisodes" type="episode:EpisodeBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Episodes to which this person has written story</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="directedEpisodes" type="episode:EpisodeBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Episodes directed by this person</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="episodes" type="episode:EpisodeBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Episodes on which this person worked</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="writtenMovies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Movies written by this person</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="screenplayAuthoredMovies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Movies to which this person has written screenplay</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="storyAuthoredMovies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Movies to which this person has written story</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="directedMovies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Movies directed by this person</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="producedMovies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Movies produced by this person</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="movies" type="movie:MovieBase" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Movies on which this person worked</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
