contract/src/main/resources/v1/wsdl/tradingCardSet.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="TradingCardSet"
		targetNamespace="http://stapi.co/api/v1/soap/tradingCardSet"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/tradingCardSet"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/tradingCardSet">
			<xs:include schemaLocation="tradingCardSet.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="TradingCardSetBaseRequest">
		<wsdl:part name="request" element="stapi:TradingCardSetBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="TradingCardSetFullRequest">
		<wsdl:part name="request" element="stapi:TradingCardSetFullRequest"/>
	</wsdl:message>
	<wsdl:message name="TradingCardSetBaseResponse">
		<wsdl:part name="response" element="stapi:TradingCardSetBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="TradingCardSetFullResponse">
		<wsdl:part name="response" element="stapi:TradingCardSetFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="TradingCardSetPortType">
		<wsdl:operation name="getTradingCardSetBase">
			<wsdl:input name="getTradingCardSetBaseRequest" message="stapi:TradingCardSetBaseRequest"/>
			<wsdl:output name="getTradingCardSetBaseResponse" message="stapi:TradingCardSetBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getTradingCardSetFull">
			<wsdl:input name="getTradingCardSetFullRequest" message="stapi:TradingCardSetFullRequest"/>
			<wsdl:output name="getTradingCardSetFullResponse" message="stapi:TradingCardSetFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TradingCardSetBinding" type="stapi:TradingCardSetPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getTradingCardSetBase">
			<wsdl:input name="getTradingCardSetBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getTradingCardSetBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getTradingCardSetFull">
			<wsdl:input name="getTradingCardSetFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getTradingCardSetFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TradingCardSetService">
		<wsdl:port name="TradingCardSetPortType" binding="stapi:TradingCardSetBinding">
			<soap:address location="http://stapi.co/api/v1/soap/tradingCardSet"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
