contract/src/main/resources/v1/wsdl/videoRelease.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="VideoRelease"
		targetNamespace="http://stapi.co/api/v1/soap/videoRelease"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:stapi="http://stapi.co/api/v1/soap/videoRelease"
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema targetNamespace="http://stapi.co/api/v1/soap/videoRelease">
			<xs:include schemaLocation="videoRelease.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="VideoReleaseBaseRequest">
		<wsdl:part name="request" element="stapi:VideoReleaseBaseRequest"/>
	</wsdl:message>
	<wsdl:message name="VideoReleaseFullRequest">
		<wsdl:part name="request" element="stapi:VideoReleaseFullRequest"/>
	</wsdl:message>
	<wsdl:message name="VideoReleaseBaseResponse">
		<wsdl:part name="response" element="stapi:VideoReleaseBaseResponse"/>
	</wsdl:message>
	<wsdl:message name="VideoReleaseFullResponse">
		<wsdl:part name="response" element="stapi:VideoReleaseFullResponse"/>
	</wsdl:message>
	<wsdl:portType name="VideoReleasePortType">
		<wsdl:operation name="getVideoReleaseBase">
			<wsdl:input name="getVideoReleaseBaseRequest" message="stapi:VideoReleaseBaseRequest"/>
			<wsdl:output name="getVideoReleaseBaseResponse" message="stapi:VideoReleaseBaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getVideoReleaseFull">
			<wsdl:input name="getVideoReleaseFullRequest" message="stapi:VideoReleaseFullRequest"/>
			<wsdl:output name="getVideoReleaseFullResponse" message="stapi:VideoReleaseFullResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VideoReleaseBinding" type="stapi:VideoReleasePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVideoReleaseBase">
			<wsdl:input name="getVideoReleaseBaseRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getVideoReleaseBaseResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVideoReleaseFull">
			<wsdl:input name="getVideoReleaseFullRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getVideoReleaseFullResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VideoReleaseService">
		<wsdl:port name="VideoReleasePortType" binding="stapi:VideoReleaseBinding">
			<soap:address location="http://stapi.co/api/v1/soap/videoRelease"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
