contract/src/main/resources/wsdl/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		elementFormDefault="unqualified"
		targetNamespace="http://stapi.co/api/v1/soap/common">
	<xs:simpleType name="GenderEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MALE" />
			<xs:enumeration value="FEMALE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateRange">
		<xs:sequence>
			<xs:element name="dateFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="dateTo" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
